# Default values for biidinwebapi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

biidinwebapi:
  image: rg.fr-par.scw.cloud/comentarismoregistry/biidinwebapi
  tag: latest
  # set to never when using local images
  pullPolicy: Always
  envsec:
    DATABASE_URL: DATABASE_URL
#    OPEN_API_TOKEN: OPEN_API_TOKEN
#    API_KEYS: API_KEYS
#    SENTRY_DSN: SENTRY_DSN
#    STRIPE_PUBLISHABLE_KEY: STRIPE_PUBLISHABLE_KEY
#    STRIPE_SECRET_KEY: STRIPE_SECRET_KEY
#    STRIPE_WEBHOOK_SECRET: STRIPE_WEBHOOK_SECRET
#    API_KEYS_SECRET_KEY: API_KEYS_SECRET_KEY
#    MAILGUN_API_KEY: MAILGUN_API_KEY
#    PINECONE_API_KEY: PINECONE_API_KEY
#    AWS_ACCESS_KEY_ID: AWS_ACCESS_KEY_ID
#    AWS_SECRET_ACCESS_KEY: AWS_SECRET_ACCESS_KEY
#    AWS_STORAGE_BUCKET_NAME: AWS_STORAGE_BUCKET_NAME
#    AWS_S3_ENDPOINT_URL: AWS_S3_ENDPOINT_URL
#    AWS_S3_REGION_NAME: AWS_S3_REGION_NAME
#    DEMO_DATABASE_URL: DEMO_DATABASE_URL
  env:
    PORT: 9898
    SERVER_ROLE: webapp
    SERVER_TIMEOUT: 4000
    WEB_CONCURRENCY: 4
    SENTRY_TRACES_SAMPLE_RATE: 0.0
    DJANGO_SENTRY_LOG_LEVEL: 20
    SENTRY_ENVIRONMENT: dev
    DJANGO_ALLOWED_HOSTS: "*"
    MAILGUN_DOMAIN: "biidin.com"
    BASE_HOST: "https://wapi.biidin.com"
    AGENT_LLM_MODEL: "gpt-4-1106-preview"
    AGENT_LLM_MODEL_CHART: "gpt-3.5-turbo"
    LANGCHAIN_MAX_EXECUTION_TIME: 200
    LANGCHAIN_MAX_ITERATIONS: 99
    TEMPERATURE: 0
    PINECONE_ENVIRONMENT: gcp-starter
    DJANGO_DEBUG: True
    CACHED_HISTORY_ENABLED: False

healthcheck:
  url: /api/healthcheck
  port: 9898

service:
  type: ClusterIP
  port: 9898
  externalPort: 9898
  internalPort: 9898

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: 25m
  path: /
  pathType: ImplementationSpecific
  tls:
    - hosts:
        - wapi.biidin.com
      secretName: biidin-com-tls
  hosts:
    - wapi.biidin.com
  servicePort: 9898

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
